{% extends '_layout/index.html' %}
{% block title %}免责声明{% endblock %}
{% block content %}
<div class="container px-4 py-3">
    <h3>版权信息</h3>
    <p>XMUT<sup>plus</sup>（plus.xmut.edu.cn）刊载的所有内容，包括文字、图片、音频、视频、软件、程序、以及网页版式设计等均在网上搜集。</p>
    <h3>免责声明</h3>
    <p>
        欢迎您访问 XMUT<sup>plus</sup>（plus.xmut.edu.cn）网站。在使用本网站之前，请务必仔细阅读并理解以下免责声明。通过访问本网站，即表示您同意接受本免责声明中所列的所有条款和条件。如果您不同意这些条款和条件，请勿使用本网站。
    </p>
    <p class="h4">1. 信息准确性和完整性：</p>
    <p>本网站上提供的所有信息，包括但不限于学校网站信息、社团群QQ号等，旨在提供为了理工学子们参考和方便。我们努力确保信息的准确性和及时更新，但不对信息的准确性、完整性、可靠性或适用性作出任何明示或暗示的保证。用户应自行判断信息的准确性并采取适当的预防措施。</p>
    <p class="h4">2. 第三方链接：</p>
    <p>本网站可能包含指向其他第三方网站的链接，这些链接仅为用户提供方便。这些第三方网站不受我们的控制，我们对这些第三方网站的内容、隐私政策或行为不承担任何责任。用户访问任何链接所造成的风险由用户自行承担。</p>
    <p class="h4">3. 社团群QQ号：</p>
    <p>本网站可能提供学校内部社团群的QQ号等信息，仅供参考之用。我们不能保证这些社团群的准确性、合法性或安全性。用户通过这些信息加入相关社团群时，应自行判断风险并采取适当的措施。<p><abbr title="HyperText Markup Language" class="initialism">如果你不希望将自己维护的 QQ 群加入本清单，或在加群时碰到了问题，请QQ联系：378768535。</abbr></p></p>
    <p class="h4">4. 使用风险：</p>
    <p>使用本网站的用户应自行承担使用本网站的所有风险。本网站不对因使用或无法使用本网站所引起的任何直接或间接损害承担责任，包括但不限于利润损失、数据损坏、业务中断等。</p>
    <figure class="text-end">
      <blockquote class="blockquote">
        <p>XMUT<sup>plus</sup>团队</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        2023/8/13<cite title="Source Title">02:44:23</cite>
      </figcaption>
    </figure>
</div>
{% endblock %}